.navbar {
    border-color: black;
    background-color: #FF5722;
    padding: 10px;
    text-decoration: none;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        font-size: large;
        justify-content: space-around;
        color: white;

        li {
            color: black;
            list-style: none;

            &.dropdown {
                position: relative;

                .dropdown-toggle {
                    cursor: pointer;
                }

                .dropdown-menu {
                    display: none;
                    position: absolute;
                    top: calc(100% + 5px);
                    left: 0;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    padding: 5px;

                    .dropdown-item {
                        cursor: pointer;
                        padding: 5px;

                        &:hover {
                            background-color: #f0f0f0;
                        }
                    }
                }

                &.open {
                    .dropdown-menu {
                        display: block;
                    }
                }
            }
        }
    }
}