@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import 'header';

$background-color: #D7CCC8;
$font-family: 'Roboto', sans-serif;

@mixin btn($fontcolor: #FAFAFA) {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  outline: 0;
  border: 0;
  width: 100%;
  padding: 15px;
  background: #FF5722;
  color: $fontcolor;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin message($fontcolor: #90A4AE) {
  color: $fontcolor;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

@mixin input($bkgnd: #F5F5F5) {
  font-family: $font-family;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  outline: 0;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
  background: $bkgnd;
}

body {
  font-family: $font-family;
  background: $background-color;
  margin: 0;
}

<<<<<<< HEAD:src/index.scss

.container {
=======
.container{
>>>>>>> c8df23c8238d86ffaafe8043b12aea02718b3176:src/styles/index.scss
  padding: 8% 0 0;
  width: 365px;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  max-width: 350px;
  margin: 0 auto 100px;
  padding: 45px;
  background: #FFFFFF;
}

.form {
  input {
    @include input;

    ::placeholder {
      color: #90A4AE;
    }
  }

  .btn {
    @include btn;
  }

  .message {
    @include message;

    a {
      text-decoration: none;
      color: #00BFA5;
    }
  }
}

.form .register-form {
  display: none;
}

<<<<<<< HEAD:src/index.scss
.box {
  text-align: center;
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 1px solid red;

=======
.box{
  background-color: #FF5722;
};

.topper{
  justify-content: end;
  background-color:#00BFA5;
>>>>>>> c8df23c8238d86ffaafe8043b12aea02718b3176:src/styles/index.scss
}

.scanbutton{
  display:flex;
  justify-content: space-between;
}

.scan{
  padding: 5px;
  margin: 10px;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
}